Rules:
1.No Swearing [Keep the chat clean]
2.No Spaming  [Keep the chat clean]
3.Respect the Twitch moderators
4.Don't link other streamers [You'll get perma banned]
5.No BackSeating
6.Don't kill other teamates in "Agar.io"

Twitch Rules of Conduct: http://www.twitch.tv/p/rules-of-conduct
