Rules:
1.No Swearing [Keep the chat clean]
2.No Spaming  [Keep the chat clean]
3.No Links [Keep the chat clean]
4.No spamming in caps [Keep the chat clean]
5.Respect the Twitch moderators
6.Don't link other streamers [You'll get perma banned]
7.No BackSeating
8.Don't kill other teamates in "Agar.io"
9.Don't use /me Many channels will ban for the use of this as it can be seen as spam so use at your own risk.
10.No strawpolls - You will be punished hard for this one.
11.Request a racist/troll song - PERMANENTLY Banned.

Twitch Rules of Conduct: http://www.twitch.tv/p/rules-of-conduct
